* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-wrapper {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 768px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #EEE;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.nav-link {
    font-family: "Electrolize";
    font-size: 23px;
    font-weight: 400;
}

.nav-link {
    text-decoration: none;
    font-size: 23px;
    color: black;
    padding: 15px;
}
.hamburger {
    display: none;
}

.active {
    color: #767676;
}

.nav-stripe {
    z-index: -1;
    position: absolute;
    right: 50%;
    transform: translateX(+48%);
    transition: all 0.3s;
    transition-delay: 0.2s;
}

@media (max-width: 400px){
    .navbar {
        width: 350px;
    }
    .nav-stripe {
        width: 130px;
        height: 73px;
    }
}
@media (max-width: 820px){
    .navbar {
        flex-direction: column;
        height: 65px;
        width: 65px;
        overflow: hidden;
        justify-content: center;
    }
    .nav-wrapper {
        top: 20px;
        left: 60px;
    }
    .nav-stripe {
        display: none;
    }
    .navbar li {
        margin: 5px 0;
        display: none;
    }
    .hamburger {
        display: inline-block;
        position: absolute;
        left: 15px;
    }
    .nav-wrapper {
        top: 20px;
    }
}