* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-wrapper {
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 768px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #EEE;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.nav-link {
    font-family: Dubai;
    font-size: 23px;
    font-weight: 400;
}

.nav-link {
    text-decoration: none;
    font-size: 23px;
    color: black;
    padding: 15px;
}

.active {
    color: #767676;
}

.nav-stripe {
    z-index: -1;
    position: absolute;
    right: 50%;
    transform: translateX(+48%);
    transition: all 0.3s;
    transition-delay: 0.2s;
}

@media (max-width: 860px) {
    .navbar {
        width: 500px;
    }
}
@media (max-width: 650px) {
    .navbar {
        width: 380px;
    }
    .nav-link {
        font-size: 21px;
    }
}
@media (max-width: 400px){
    .navbar {
        width: 350px;
    }
    .nav-stripe {
        width: 130px;
        height: 73px;
    }
}